<h2 mat-dialog-title>Banner gerado</h2>
<mat-dialog-content class="mat-typography">
  <div>
    <p>{{banner?.call}}</p>
    <p>{{banner?.title}}</p>
    <p>{{banner?.detail}}</p>
    <p>de {{banner?.from}}</p>
    <p>por {{banner?.to}}</p>
    <p>{{banner?.shortUrl}}</p>
    <p>{{banner?.messageDefault}}</p>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>
